{%extends 'main/base.html'%}
{%load static%}
{%block active1%}
active
{%endblock%}
{%block content%}
<div class="main-container">
    <div class="content-box">
        <h1>Системный администратор</h1>
        <p>– это специалист, который обеспечивает штатную работу парка компьютерной техники в компании или организации, правильную работу компью-терной сети и имеющегося программного обеспечения, а также отвечает за информационную безопасность организации. </p>
        <div class="top-img">
             <img src="{% static 'main/images/sysadmin00.jpg'%}">
        </div>
    </div>
    <div class="content-box">
        <h2>Основные должностные обязанности системного администратора:</h2>
        <ul>
            <li>установка и обслуживание компьютерной и офисной техники, оргтехники, внутренней АТС;</li>
            <li>обеспечение безошибочной работы системного программного обеспечения (ОС Windows, Linux, Windows Server);</li>
            <li>обеспечение работоспособности и безопасности сети компании;</li>
            <li>установка, настройка и обновление офисного и прикладного программного обеспечения (MS Office, 1С и др.);</li>
            <li>обеспечение резервного копирования и восстановления данных;</li>
            <li>техническая поддержка и помощь пользователям, а также закупка компьютерной и офисной техники, необходимого программного обеспечения.</li>
        </ul>
    </div>
    <div class="content-box">
        <h2>Навыки системного администратора</h2>
        <p>Вопреки стереотипам, системный администратор не сидит без дела в ожидании, когда что-то сломается. Его работа — проактивная, он должен не только оперативно устранять неполадки, но и предупреждать их. Для этого нужно уметь работать с базами данных, программировать и разбираться в автоматизации, а также быть стрессоустойчивым и очень внимательным.</p>
    </div>
    <div class="content-box">
        <h2>Hard skills</h2>
        <ul>
            <li>Понимать принципы работы операционных систем Linux, Windows.</li>
            <li>Уметь работать с веб-серверами: Apache, Nginx, IIS (это HTTP-серверы, которые принимают запросы от пользователей и выдают данные, хранят файлы сайтов и приложений).</li>
            <li>Уметь отслеживать и находить ошибки и проблемы в работе инфраструктуры (при помощи ПО для мониторинга типа Zabbix).</li>
            <li>Администрировать базы данных, поддерживать их правильное функционирование и безопасность (MySQL, PostgreSQL, MSSQL).</li>
            <li>Разбираться в процессах контейнеризации и соответствующем ПО (Kubernetes).</li>
            <li>Анализировать сетевой трафик и защищенность инфраструктуры, тестировать безопасность систем при помощи специального ПО (Burp Suite, Nmap).</li>
            <li>Вести документацию происшествий и отчетность по их устранению.</li>
            <li>Автоматизировать рутинные задачи, мониторинг и исправление типовых ошибок (Ansible).</li>
        </ul>
    </div>
    <div class="content-box">
        <h2>Soft skills</h2>
        <ul>
            <li>Расставлять приоритеты. Для системного администратора надежность всегда должна быть в приоритете по отношению к внедрению новых технологий и оптимизации. Первоочередная задача — поддерживать бесперебойную работу систем, потом — все остальное.</li>
            <li>Уметь «продавать» решения руководству. Чтобы внедрить новые решения в инфраструктуру, важно предоставить руководству цифры, обосновать их ценность с точки зрения бизнес-задач, рассчитать риски.</li>
            <li>Стрессоустойчивость. Работа системного администратора связана с устранением ошибок, спасением «падающих» серверов и реакцией на происшествия. Чтобы делать ее хорошо и не сходить с ума, важно уметь сохранять спокойствие и действовать в любой сложной и неопределенной ситуации.</li>
            <li>Тайм-менеджмент. Важен, чтобы при высокой нагрузке правильно распределять время на задачи, а также определять, какие задачи являются наиболее приоритетными.</li>
            <li>Коммуникация. Системные администраторы работают в команде, взаимодействуют с разработчиками и бизнес-отделами. Чтобы успешно работать, важно уметь говорить со всеми на одном языке, разбираться в терминах слушать и ясно выражать свои мысли.</li>
        </ul>
    </div>
</div>
{%endblock%}
